h1{
 text-align: center;
 color: azure;
}
body {
    background: url(ground\ 0.0.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
p {
    color: azure;
    border: dashed crimson;
    width: 20%;
    
}
a{
    color: crimson;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }