.Bio{
    background-color: rgba(179, 8, 8, 0.657);
    text-align: center
}
body{
    background: url(https://img00.deviantart.net/03dd/i/2014/204/5/6/storm_cloud_stock_background_by_amka_stock-d7rwo06.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
em{
    color: black;
}

p{
    color: azure;
}
a{
    color: crimson;
}
strong{
    color:maroon;
}
.selector-for-some-widget {
    box-sizing: content-box;
  };
  